<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section class="feedback">
        <div class="container">
            <div class="row">
                <h1 class="h1h1">Share your problems with us</h1>
            </div>
            <div class="row">
                <h4 class="h4h4" style="text-align:center">We'd love to hear from you!</h4>
            </div>
            <form method="POST" action="/">
                <div class="row input-container">
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input type="text" name="Name" required />
                            <label>Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input">
                            <input type="email" name="email" required />
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="float:right;">
                            <input type="text" name="phonenumber" required />
                            <label>Phone Number</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <textarea name="text" required></textarea>
                            <label>Message</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button type="submit" class="btnmsg">Send message</butto>
                    </div>

                </div>
            </form>
        </div>
    </section>
</body>
</html>