<!DOCTYPE html>
<html lang="en" id="html2">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://the-vr7.github.io/Hello-World/animations.css">
    <script>
        onload = start;
        function start() {
            var im1 = "linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/banner12.jpg')"
            var im2 = "linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img3.jpg')"
            var im3 = "linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img2.jpg')"
            var im4 = "linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img-5.jpg')"
            var im5 = "linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img-4.jpg')"
            var im6 = "linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/slide_2.jpg')"
            var i = 0;
            function Move() {
                i = (i % 5) + 1; // 5 is the Number of image in slider
                if (i == 1) {
                    document.getElementById('img').style.backgroundImage = im1
                }
                else if (i == 2) {
                    document.getElementById('img').style.backgroundImage = im2
                }
                else if (i == 3) {
                    document.getElementById('img').style.backgroundImage = im3
                }
                else if (i == 4) {
                    document.getElementById('img').style.backgroundImage = im4
                }
                else if (i == 5) {
                    document.getElementById('img').style.backgroundImage = im5
                }
                else {
                    document.getElementById('img').style.backgroundImage = im6
                }
            }
            setInterval(Move, 3000); //change img in 3 sec
        }
    </script>
    <style>
        html {
            scroll-behavior: smooth;
        }

        body {
            height: auto;
        }

        .header {
            height: 650px;
            width: 100%;
            position: relative;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            padding-top: 20px;
            text-align: center;
            color: white;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @keyframes header {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        .top-navbar {
            position: relative;
            z-index: 170;
        }

        .top-navbar .navbar {
            padding: 15px 0px;
            position: fixed;
            width: 100%;
            border-radius: 0px 0px 100px 100px;
            transition: height .3s ease-out, background .3s ease-out, box-shadow .3s ease-out;
            transform: translate3d(0, 0, 0);
            box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
            z-index: 100;
        }

        .top-navbar .navbar-light .navbar-nav .nav-link {
            color: #010101;
            font-size: 16px;
            padding: 10px 20px;
            border-radius: 4px;
            text-transform: uppercase;
        }

        .top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover {
            background: #d65106;
            color: #ffffff;
        }

        .top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link {
            background: #d65106;
            color: #ffffff;
            border-radius: 4px;
        }

        .navbar-expand-lg .navbar-nav .dropdown-menu {
            border: none;
            border-radius: 0px;
            padding: 10px;
            box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.5);
        }

        .navbar-expand-lg .navbar-nav .dropdown-menu a {
            padding: 10px 10px;
            text-transform: uppercase;
        }

        .navbar-expand-lg .navbar-nav .dropdown-menu a.dropdown-item:hover {
            background: #d65106;
            color: #ffffff;
        }

        .navbar-light .navbar-toggler:hover {
            background: #d65106;
        }

        .navbar1 {
            width: 100px;
            height: 66px;
        }

        .navbar2 {
            margin-left: 35%;
        }

        .cont1 {
            width: 90%;
            height: 50%;
            margin-top: 100px;
            margin-left: 100px;
            min-width: 320px;
            position: absolute;
            z-index: 100;
            background-color: transparent;
        }

        .rw-wrapper {
            width: 100%;
            position: absolute;
            z-index: 120;
            margin-top: 100px;
            margin-left: -670px;
            padding: 10px;
        }

        .rw-words {
            width: 100%;
            height: 100px;
            perspective: 800px;
        }

        .rw-words span {
            position: absolute;
            width: 100%;
            opacity: 1;
            white-space: nowrap;
            overflow: hidden;
        }

        .rw-words-1 span {
            font-size: 60px;
            margin-left: 5px;
            line-height: 82%;
            animation: rotateWordsFirst 18s linear 0s;
            color: white;
            font-style: italic;
        }

        .rw-words-2 span {
            margin-top: -20px;
            margin-left: 57px;
            font-size: 45px;
            text-indent: 5px;
            color: White;
            animation: rotateWordsSecond 18s ease-in 0s;
        }

        @keyframes rotateWordsFirst {
            0% {
                opacity: 0;
                animation-timing-function: ease-in;
                width: 0px;
            }

            5% {
                opacity: 1;
                animation-timing-function: ease-out;
                width: 50%;
            }

            17% {
                opacity: 1;
                width: 100%;
                animation-timing-function: ease-out;
            }

            20% {
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes rotateWordsSecond {
            0% {
                opacity: 0;
                transform: translateZ(600px) translateX(200px);
                animation-timing-function: ease-in;
            }

            8% {
                opacity: 1;
                transform: translateZ(300px) translateX(100px);
                animation-timing-function: ease-out;
            }

            17% {
                opacity: 1;
                transform: translateZ(0px) translateX(0px);
                animation-timing-function: ease-out;
            }

            25% {
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        #cool {
            width: 20px;
            height: 00px;
            margin-left: 12%;
            border-left: 5px solid rgb(126, 199, 255);
            border-right: 5px solid rgb(126, 199, 255);
            margin-top: -36px;
            animation: grow 3s forwards;
            animation-delay: 2s;
            position: absolute;
            z-index: 253;
            transform-origin: 0 100%;
        }

        #cool1 {
            width: 20px;
            height: 00px;
            margin-left: 86%;
            border-left: 5px solid rgb(126, 199, 255);
            border-right: 5px solid rgb(126, 199, 255);
            margin-top: -15px;
            animation: grow1 3s forwards;
            animation-delay: 2s;
            position: absolute;
            z-index: 253;
            transform-origin: 0 100%;
        }

        @keyframes grow {
            0% {
                height: 250px;
                transform: rotateZ(0deg);

                animation-timing-function: ease-in;
            }

            50% {
                height: 250px;
                transform: rotateZ(45deg);

                animation-timing-function: ease-out;
            }

            100% {
                height: 250px;
                transform: rotateZ(90deg);

                animation-timing-function: ease-out;
            }
        }

        @keyframes grow1 {
            0% {
                height: 250px;
                transform: rotateZ(0deg);

                animation-timing-function: ease-in;
            }

            50% {
                height: 250px;
                transform: rotateZ(-45deg);

                animation-timing-function: ease-out;
            }

            100% {
                height: 250px;
                transform: rotateZ(-90deg);

                animation-timing-function: ease-out;
            }

        }

        .input-group {
            width: 600px;
            /* border-top: ;
            height: 50%; */
            height: 100px;
            position: absolute;
            border-radius: 50px;
            background-color: transparent;
            margin-top: 70px;
            padding: 2px;
            z-index: 162;
            top: 50%;
            left: 35%;
        }

        input[type="text"]::-webkit-input-placeholder {
            color: White;
            text-align: left !important;
            padding-left: 40px;

        }

        .form-control {
            border: 0;
            border-bottom: 1px solid black;
            border-radius: 8px !important;
            background-color: transparent;
            margin-left: -50px;
            width: 470px;
            color: white !important;
            height: 70px;
            font-size: 28px;
            padding-left: 70px;
            padding-top: 19px;
            box-shadow: none !important;
            line-height: normal;
        }

        #icon {
            width: 35px;
            height: 35px;
            margin-left: -320px;
            margin-top: 24px;
            position: absolute;
            z-index: 215;
        }

        .input-group-text {
            width: 120px;
            height: 54px;
            margin-left: 450px;
            margin-top: -50px;
            background-image: linear-gradient(#00ff7e, #1f3d90);
            font-size: 24px;
            border: 0 !important;
            color: white !important;
            padding: 4px 10px 7px 24px !important;
            border-radius: 30px !important;
            box-shadow: none !important;

        }

        input[type=text]:focus {
            border-bottom: 1px solid rgba(0, 132, 255, 0.384);
            background-color: transparent;
        }
/* FeedBack CSS Starts from here */
.feedback {
            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('http://getwallpapers.com/wallpaper/full/3/6/f/1289761-popular-farm-wallpaper-1920x1080-images.jpg#.XZ4vxGOkrlU.link');
            padding: 80px 0;
            background-attachment: fixed;
            margin-top: 40%;
            display: none;
        }
        .h1h1 {
            font-family: cursive;
            font-weight: 300;
            font-size: 60px;
            color: white;
            text-align: center;
        }
        input:focus~label,
        textarea:focus~label,
        input:valid~label
        {
            font-size: 0.75em;
            color: gray;
            top: -5px;
            -webkit-transition: all 0.225s ease;
            transition: all 0.225s ease;
        }
        .styled-input {
            width: 80%;
            margin: 1rem 0;
            border-radius: 4px;
        }
        .styled-input label {
            color: #999;
            padding: 1.3rem 30px 1rem 30px;
            position: absolute;
            top: 10px;
            left: 0;
            -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease;
            pointer-events: none;
        }
        .feedback input,
        .feedback textarea {
            padding: 30px;
            border: 0;
            width: 100%;
            font-size: 1rem;
            background-color: white;
            color: black;
            border-radius: 4px;
        }
        .feedback input:focus,.feedback textarea:focus {
            background-color: white;
            outline: 0;
            border: 0;
        }
        .submit-btn {
            width: 130px;
            padding: 8px 0;
            outline: none !important;
            border: 2px solid white;
            border-radius: 50px;
            background: transparent;
            font-size: larger;
            color: white;
            margin-top: 20px;
            text-align: center;
        }
        .submit-btn:hover {
            transform: scale(1.1);
            transition-duration: 0.5s;
        }
        .anima1 {
            width: 100%;
            position: relative;
            display: block;
            height: 500px;

        }

        .anima1 span {
            font-size: 35px;
            position: absolute;

            margin-left: 30%;
            font-family: cursive;
            padding-top: 35px;
            color: #515151;
            font-style: bold;
            font-weight: 600;
            animation: zm 3s;
            animation-timing-function: linear;
        }

        @keyframes zm {
            0% {
                opacity: 0;
                transform: scale(0);
            }

            50% {
                opacity: 0.5;
                transform: scale(1.5);
            }

            100% {
                opacity: 1;
                transform: scale(1);
            }
        }

        #st1 {
            font-size: 30px;
            position: absolute;
            font-family: sans-serif;

            color: #E24425;
            font-style: italic;
            margin-top: 20px;
            margin-left: 41%;
            animation: zm 3s;
            animation-timing-function: linear;
        }

        .lin1 {
            position: absolute;
            display: block;
            margin-top: 45px;
            margin-left: 270px;
            width: 260px;
            border-top: 2px dotted black;
            animation: slideIn 2s forwards;
            animation-timing-function: ease-out;
        }

        @keyframes slideIn {
            0% {
                transform: translateX(-900px);
            }

            50% {
                transform: translateX(50px);
            }

            100% {
                transform: translateX(0);
            }
        }

        .lin2 {
            width: 260px;
            border-top: 2px dotted black;
            color: green;
            position: absolute;
            margin-left: 950px;
            margin-top: 45px;
            animation: slideOut 2s forwards;
            animation-timing-function: ease-out;
        }

        @keyframes slideOut {
            0% {
                opacity: 0;
                transform: translateX(900px);
            }

            50% {
                transform: translateX(-50px);
            }

            100% {
                transform: translateX(0);
            }
        }

        .imgs {

            width: 70%;
            height: 250px;
            margin: auto;
            margin-top: 100px;

        }

        .imgs img {

            position: relative;
            width: 190px;
            height: 240px;
            margin-top: 5px;
            margin-left: 40px;
        }

        #one {
            animation: first 2s;
            animation-direction: alternate;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }

        @keyframes first {
            0% {
                left: -70px;
                opacity: 0;
            }

            100% {
                left: 20px;
                opacity: 1;
            }
        }

        #one1 {
            animation: first1 2s;
            animation-direction: alternate;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 1s;
            opacity: 0;
        }

        @keyframes first1 {
            0% {
                left: -70px;
                opacity: 0;
            }

            100% {
                left: 20px;
                opacity: 1;
            }
        }

        #one2 {
            animation: first2 2s;
            animation-direction: alternate;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 2s;
            opacity: 0;

        }

        @keyframes first2 {
            0% {
                left: -70px;
                opacity: 0;
            }

            100% {
                left: 20px;
                opacity: 1;
            }
        }

        #one3 {
            animation: first3 2s;
            animation-direction: alternate;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 3s;
            opacity: 0;

        }

        @keyframes first3 {
            0% {
                left: -70px;
                opacity: 0;
            }

            100% {
                left: 20px;
                opacity: 1;
            }
        }

        * {
            padding: 0px;
            margin: 0px;
        }

        #rege {
            position: relative;
            display: block;
            background-color: #4CAF50;
            color: white;
            margin-left: 45px;
            border: none;
            font-size: 19px;
            letter-spacing: 2px;
            cursor: pointer;
            width: 70%;
        }

        #rege:hover {
            opacity: 0.8;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 210;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.527);
            padding-top: 60px;
        }

        .boxlog {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            padding: 40px;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
        }

        .boxlog:nth-child(1) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            padding: 40px;
            background-image: linear-gradient(to right, rgb(2, 15, 14), rgb(0, 153, 255));
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            width: 330px;
            height: 400px;
            background: transparent;
        }

        h1 {
            text-align: center;
            margin: 0 0 30px;
            margin-top: -20px;
            padding: 0px;
            color: white;
        }

        .boxlog .inputbox {
            position: relative;
            width: 100%;
            background: transparent;
        }

        .boxlog .inputbox input {
            width: 100%;
            padding: 9px 0;
            font-size: 16px;
            color: white;
            margin-bottom: -5px;
            border: none;
            outline: none;
            background-color: transparent;
            border-bottom: 1px solid white;
        }

        .boxlog .inputbox label {
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            padding: 9px 0;
            font-size: 19px;
            pointer-events: none;
            transition: .5s;
        }

        .boxlog .inputbox input:focus~label,
        .boxlog .inputbox input:valid~label {
            top: -13px;
            left: 0;
            color: deepskyblue;
            font-size: 14px;
        }

        .boxlog button[type="submit"] {
            margin-top: 4px;
            margin-left: 35%;
            background: transparent;
            border: none;
            outline: none;
            color: white;
            background: transparent;
            /* padding: 5px 18px; */
            width: 140px;
            height: 50px;
            padding-bottom: 4px;
            border-radius: 14px;
            cursor: pointer;
            border: 1px solid rgba(255, 255, 255, 0.767);
        }

        .boxlog button[type="submit"]:hover {
            background: deepskyblue;
            transform: scale(1.2);
            transition: 0.5s;
            border: 1px solid deepskyblue;

        }

        .cancelbtn {
            margin-left: 90px;
            margin-top: 60px;
            width: 40%;
            padding: 10px 20px;
            font-size: 19px;
            color: white;
            letter-spacing: 2px;
            border-radius: 5px;
            border: none;
            background-color: #f81c1cbb;
        }

        .animate {
            animation: animatezoom 0.5s
        }

        @keyframes animatezoom {
            from {
                transform: scale(0)
            }

            to {
                transform: scale(1)
            }
        }

        #reg1 {
            text-align: center;
            margin: 0 0 30px;
            padding: 0px;
            color: white;
        }

        .features {
            padding: 100px 0;
            background-image: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.6)), url(https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/banner21.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .feature-img img {
            width: 100%;
        }

        .ratings {
            color: gold;
        }

        .price {
            color: red;
            padding: 7px
        }

        .summary {
            color: grey;
            padding: 15px
        }

        .placename {
            color: black;
            font-family: cursive;
            padding: 15px;

        }

        .feature-box {
            background-color: white;
            box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
            margin-bottom: 50px;

        }

        .feature-box:hover {
            transform: scale(1.1);
            transition: 1s;
        }

        .gallery {
            padding: 100px 0;
            background-color: lightgray;
        }

        .gallery-box img {
            width: 100%;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
        }

        .gallery-box img:hover {
            transform: scale(1.1);
        }

        .gallery-box h4 {

            font-weight: 600;
            width: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
        }

        .gallery-box {
            position: relative;
            margin-bottom: 30px;
        }

        .aboutus {
            padding: 100px;
            height: 500px;
            background-color: black;
        }

        .info {
            padding: 35px 35px 35px 35px;
            margin: 5px 35px 35px 35px;

            box-sizing: border-box;
            /* width: 50%; */

            height: 350px;
            float: left;

        }

        .gtch {
            padding: 35px 35px 35px 35px;
            margin: 5px 35px 35px 35px;
            box-sizing: border-box;

            width: 30%;
            height: 350px;
            float: right;
        }

        .uselik {
            padding: 35px 35px 35px 35px;
            margin: 5px 35px 35px 35px;
            width: 25%;
            height: 350px;
            float: right;
        }

        .social a:hover {
            transform: scale(1.5);
        }

        .features1 {
            padding: 110px 0;
            background-color: rgba(173, 216, 230, 0.089);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        #lin {
            border-top: 2px dotted grey;
        }

        .list-group-item {
            margin-top: 15%;
            border-top: 0;
            text-align: center;
            font-size: 24px;
            font-family: cursive;
        }

        .list-group a:hover {
            background-color: orange;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            font-size: 26px;
        }

        .list-group a:focus {
            background-color: red;
            color: white;
            font-size: 26px;
            border-radius: 5px;
        }

        #img11 {
            margin-top: 2%;
            margin-left: 3%;
            height: 220px;
            padding: 0;
            border: 1px solid rgba(169, 169, 169, 0.301);
        }

        #img22 {
            margin-top: 2%;
            padding: 0;
            margin-left: 10%;
            height: 220px;
            border: 1px solid rgba(169, 169, 169, 0.301);
        }

        #img33 {
            margin-top: 5%;
            padding: 0;
            margin-left: 3%;
            height: 220px;
            border: 1px solid rgba(169, 169, 169, 0.301);
        }

        #img44 {
            margin-top: 5%;
            padding: 0;
            margin-left: 10%;
            height: 220px;
            border: 1px solid rgba(169, 169, 169, 0.301);
        }

        #pizza {
            display: none;
        }

        #burger {
            display: none;
        }

        #paneer {
            display: none;
        }

        #icecream {
            display: none;
        }

        .figure-img {
            width: 100%;
            height: 178px;
        }

        .figure-caption {
            padding: 0;
            margin-top: -8px;
            height: 42px;
            text-align: center;
            font-family: cursive;
            overflow: hidden;
            font-size: 24px;
            font-style: normal;
            background-color: rgba(169, 169, 169, 0.301);
            color: #515151;
            border-radius: 2px;
        }

        .figure-caption:hover {
            color: green;
            cursor: pointer;
            font-size: 25px;
        }

        .block11 {
            margin-top: 10%;
            height: 200px;
            background-color: #A52A2A;
            border-radius: 10px;
        }

        .img1123 {
            height: 500px;
            background-image: radial-gradient(white, lightgray, rgba(0, 0, 255, 0.527));
        }

        #elee {
            font-style: bold;
            font-family: cursive;
            font-weight: 600;
            color: #FFCC00;
            font-size: 27px;
            text-align: center;
            padding-top: 20%;
            padding-bottom: 25%;
        }

        #pic22 {
            width: 1300px !important;
        }

        .lis22 {
            margin-top: 7%;
            margin-left: -8%;
            background-color: transparent;
        }

        .lis33 {
            background-color: transparent;
            border: none;
            margin-top: 0%;
            font-size: 18px;
            font-weight: bold;
            font-family: sans-serif;
            text-align: left;
            color: white;
            font-style: italic;
            padding-left: 4%;
        }

        .ico {
            color: #FFCC00;
            padding-right: 4px;
        }

        #img333 {
            margin-top: 4%;
            width: 100%;
        }

        .ord {
            display: block;
            text-decoration: none;
            background-color: yellow;
            width: 70%;
            height: 20%;
            padding-top: 3%;
            font-size: 18px;
            font-weight: bold;
            color: white;
            background: #00CC00;
            border: 1px solid white;
            border-radius: 5px;
            text-align: center;
            margin-top: 40%;
            margin-left: 10%;
        }

        .ord:hover {
            text-decoration: none;
            color: yellow;
        }

        #fdbk {
            text-align: center;
            margin-left: -35px;
        }

        #fdbkbtn {
            height: 54px;
            color: white;
            background-image: linear-gradient(rgba(33, 33, 196, 0.808), rgba(0, 128, 0, 0.644));
            margin-left: 45px;
            height: 50px;
            font-size: 18px;
            border: 0 !important;
            padding: 4px 10px 7px 12px !important;
            border-radius: 30px !important;
            box-shadow: none !important;
            font-weight: bold;
        }

        #fdbkbtn:hover {
            transition-duration: 0.7s;
            transform: scale(1.3);
        }
    </style>
</head>

<body>
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand">
                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Capturefgf.PNG"
                        class="navbar1" alt="">
                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Capture.PNG"
                        class="navbar2" alt="" style="background: hidden;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-rs-food">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="#aboutus">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="#menubox">Menu</a></li>
                        <li class="nav-item"><a class="nav-link"
                                onclick="document.getElementById('id01').style.display='block'"
                                style="width:auto; cursor: pointer;">Log in</a></li>
                        <li class="nav-item"><a class="nav-link"
                                onclick="document.getElementById('id02').style.display='block'"
                                style="width:auto; cursor: pointer;">Sign up</a></li>
                </div>
            </div>
            </div>
        </nav>
    </header>

    <div id="id01" class="modal">
        <div class="boxlog" style="background: rgba(0, 0, 0, 1);">
            <h1>Login</h1>
            <form method="POST" action="/login" class="modal-content animate" id="myform">
                <div class="inputbox">
                    <input type="text" name="username" required>
                    <label> username </label>
                </div>
                <br>
                <div class="inputbox">
                    <input type="password" name="password" required><br><br>
                    <label>password</label>
                </div>
                <button type="submit" id="rege">Log in</button>
                <br><br>
                <h5 style="color: blue;">Don't have an account &nbsp;&nbsp;&nbsp;&nbsp;<a style="position: absolute;"
                        onclick="document.getElementById('id02').style.display='block' , document.getElementById('id01').style.display='none'">
                        &nbsp;Sign up</a></h3>
                    <div class="container1" style="background-color: transparent">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'"
                            class="cancelbtn">Cancel</button>
                    </div>
            </form>
        </div>
    </div>

    <div id="id02" class="modal">
        <div class="boxlog">
            <h2 id="reg1">Register Yourself</h2>
            <form method="POST" action="/register" class="animate" id="myform1">
                <div class="inputbox">
                    <input type="text" name="name" required>
                    <label>Enter Your Name</label>
                </div>
                <br>
                <div class="inputbox">
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <br>
                <div class="inputbox">
                    <input type="username" name="username" required>
                    <label>Username</label>
                </div><br>
                <div class="inputbox">
                    <input type="password" name="password" required>
                    <label>Enter Password</label>
                </div>
                <br>
                <button type="submit"
                    style="letter-spacing: 2px; font-size: 19px; margin-top: 15px; margin-left: 95px;">Register</button>
            </form>
        </div>
    </div>

    <script>
        var modal = document.getElementById('id01');
        var modal2 = document.getElementById('id02');
        window.onclick = function (event) {
            if (event.target == modal) {
                document.getElementById("myform").reset();
                modal.style.display = "none";
            }
            if (event.target == modal2) {
                modal2.style.display = "none";
                document.getElementById("myform1").reset();
            }
        } 
    </script>

    <section class="header" id="img"
        style="background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/slide_2.jpg')">
        <div style="display: none;">
            <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/banner12.jpg"
                alt="" style="visibility: hidden;"><img
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img3.jpg"
                alt="" style="visibility: hidden;"><img
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img2.jpg"
                alt="" style="visibility: hidden;"><img
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img-5.jpg"
                alt="" style="visibility: hidden;"><img
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img-4.jpg"
                alt="" style="visibility: hidden;">

        </div>
        <div class="cont1">
            <div id="cool"></div>
            <div id="cool1"></div>
            <section class="rw-wrapper">
                <h2 class="rw-sentence">
                    <div class="rw-words rw-words-1">
                        <span>Network of over 5000 Restaurants</span>
                    </div>
                    <div class="rw-words rw-words-2">
                        <span>To Order Online</span>
                    </div>
                </h2>
            </section>
        </div>
        <div class="input-group">
            <form action="">
                <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/sricon.png"
                    id="icon">
                <input type="text" class="form-control" placeholder="Enter the type of Food">
                <button type="submit" class="input-group-text btn"> <a href="#menubox" id="search123" onclick="searc()" style="color: white;">Search</a></button>
            </form>
        </div>
    </section>
    <div class="anima1">
        <span>Ordering food was never so easy</span>
        <br><br><br>
        <div class="lin1"></div>
        <pre id="st1">Just 4 steps follow</pre>
        <div class="lin2"></div>
        <div class="imgs">
            <img id="one"
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/one.png">
            <img id="one1"
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/two.png">
            <img id="one2"
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/thrww.png">
            <img id="one3"
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/four.png">

        </div>
    </div>

    <section class="features">
        <h1 style="text-align: center; padding-bottom: 30px; font-family: sans-serif;font-weight: 700; color: white;">
            Featured
            Food Items</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="https://www.dominos.co.in/files/items/IndianTandooriPaneer.jpg"
                                style="height: 200px;">
                        </div>
                        <span class="price">450 INR</span> &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>

                        </span>
                        <div class="placename">
                            <h3>Indi Tandoori Pizza</h3>
                            <h4>Domino's</h4>
                        </div>
                        <div class="summary">
                            <p>
                                !It is hot. It is spicy. It is oh-so-Indian. Tandoori paneer with capsicum I red paprika
                                I mint mayo
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/McVeggi%20Burger.png"
                                style="height: 200px;">
                        </div>
                        <span class="price">107 INR</span> &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>

                        </span>
                        <div class="placename">
                            <h3>McVeggi Burger</h3>
                            <h4>McDonald's</h4>
                        </div>
                        <div class="summary">
                            <p>
                                A delectable patty made of green goodness, potatoes, peas, carrots and selection of
                                Indian spices.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img
                                src="https://www.whiskaffair.com/wp-content/uploads/2014/02/Shahi-Paneer-5-480x270.jpg">
                        </div>
                        <span class="price">165 INR</span> &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>

                        </span>
                        <div class="placename">
                            <h3>Shahi Paneer</h3>
                            <h4>Taj Family Restaurant</h4>
                        </div>
                        <div class="summary">
                            <p>
                                Shahi paneer is a preparation of paneer,
                                consisting of a thick gravy of cream, tomatoes and Indian spices.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="features1" id="menubox">

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="row">
                        <div class="col-4 col-md-5">
                            <h4 id="one">Our Menu</h4>
                        </div>
                        <div class="col-8 col-md-7 dotted">
                            <hr id="lin">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="list-group list-group-flush">
                                <a onclick="show_pizza()" id="pizzaid"
                                    class="list-group-item list-group-item-action">Pizza</a>
                                <a onclick="show_burger()" id="burgerid"
                                    class="list-group-item list-group-item-action">Burger</a>
                                <a onclick="show_paneer()" id="paneerid"
                                    class="list-group-item list-group-item-action">Paneer</a>
                                <a onclick="show_icecream()" id="icecreamid"
                                    class="list-group-item list-group-item-action">Ice Cream</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-5 col-md-5">
                            <h4 id="one">Top Cuisines</h4>
                        </div>
                        <div class="col-7 col-md-7 dotted">
                            <hr id="lin">
                        </div>
                    </div>
                    <div id="pizza">
                        <div class="row">
                            <div class="col-5 col-md-5" id="img11">
                                <figure class="figure">
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/IndianTandooriPaneer.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Indi Tandoori</figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img22">
                                <figure class="figure">
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/peppypaneer.png"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Peppy Paneer</figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-md-5" id="img33">
                                <figure class="figure">
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/vegextra.png"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Veg Extravaganza</figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img44">
                                <figure class="figure">
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/mexgreen.png"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Mexican Green Wave</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div id="burger">
                        <div class="row">
                            <div class="col-5 col-md-5" id="img11">
                                <figure class="figure">
                                    <img src="https://i.ytimg.com/vi/q7Idojp5ZY8/maxresdefault.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Mc Aloo Tikki</figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img22">
                                <figure class="figure">
                                    <img src="https://i1.wp.com/files.hungryforever.com/wp-content/uploads/2016/07/10202927/McDonalds-Featured.jpg?resize=1075%2C605&ssl=1"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Mexican Mc Aloo Tikki</figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-md-5" id="img33">
                                <figure class="figure">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvDfrD9Or8ap6NcGJ64GhW6xdzl0o0elqArC-PJ670a9-6dFFBlg&s"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">American Cheese</figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img44">
                                <figure class="figure">
                                    <img src="https://glamadelaide.com.au/wp-content/uploads/2019/04/McDonalds_Veggie_Burger.png"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">McVeggi</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div id="paneer">
                        <div class="row">
                            <div class="col-5 col-md-5" id="img11">
                                <figure class="figure">
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Paneer%20Do%20Pyaza.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Paneer Do Pyaza</figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img22">
                                <figure class="figure">
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Mattar%20Paneer.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Mattar Paneer</figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-md-5" id="img33">
                                <figure class="figure">
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Kadai%20Paneer.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Kadai Paneer</figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img44">
                                <figure class="figure">
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Shahi%20Paneer.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Shahi Paneer</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div id="icecream">
                        <div class="row">
                            <div class="col-5 col-md-5" id="img11">
                                <figure class="figure">
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Fresh%20Fruit%20Mango%20Ice%20Cream.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Fresh Mango</figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img22">
                                <figure class="figure">
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Coconut%20Ice%20cream.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Fresh Coconut</figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-md-5" id="img33">
                                <figure class="figure">
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/StrawBerry%20Ice%20cream.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Straw Berry</figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img44">
                                <figure class="figure">
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Kesar%20Pasta%20Ice%20cream.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption">Kesar Pasta</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="img1123">
        <div class="container-fluid animatedParent animateOnce" id="pic22">
            <div class="row slow animated fadeIn box">
                <div class="col-12 col-lg-12 block11">
                    <div class="row animatedParent animateOnce">
                        <div class="col-lg-3 slow animated rollIn box">
                            <h2 id="elee">Enjoy Exclusive Food<br>Order any of these</h2>
                        </div>
                        <div class="col-lg-2 slow animated fadeInDown box delay-500">
                            <ul class="list-group lis22">
                                <li class="list-group-item lis33"><i class="fa fa-arrow-right ico"
                                        aria-hidden="true"></i>Party Order</li>
                                <li class="list-group-item lis33"><i class="fa fa-arrow-right ico"
                                        aria-hidden="true"></i>Fast Food</li>
                                <li class="list-group-item lis33"><i class="fa fa-arrow-right ico"
                                        aria-hidden="true"></i>Diet Food</li>
                            </ul>
                        </div>
                        <div class="col-lg-5 slow animated bounceInRight box delay-1000">
                            <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/abc.png"
                                id="img333">
                        </div>
                        <div class="col-lg-2 slow animated bounceInLeft box delay-1000"> <a href="#img"
                                class="ord">ORDER NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="aboutus" class="aboutus">


        <div class="info">
            <img style="width: 190px; "
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Capture.PNG">
            <br>
            <br>
            <div style="color:grey; font-family:Verdana, Geneva, Tahoma, sans-serif; line-height: 10px;">
                <p>Food Panda,

                </p>
                <p> GLA University</p>
                <p>Mathura, UP</p>
                <p>Uttar Pradesh 281001</p>
            </div>
            <br>

            <p class="social" style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;">
                Follow Us &nbsp
                <a href="#" style="color: white;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                &nbsp <a href="#" style="color: white;"><i class="fa fa-instagram" aria-hidden="true"></i></a> &nbsp <a
                    style="color: white;" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>

            </p>

        </div>

        <div class="uselik">
            <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;">Useful Links</p>

            <ul style="list-style: none;">
                <li><a style="text-decoration: none;" href="">FAQ</a></li>
                <li><a style="text-decoration: none;" href="">About</a></li>
                <li><a style="text-decoration: none;" href="">Terms and Condition</a></li>
                <li><a style="text-decoration: none;" href="">Privacy Policy</a></li>
                <li><a style="text-decoration: none;" href="">Terms of Use</a></li>
                <li><a style="text-decoration: none;" href="">Refund Policy</a></li>
            </ul>
            <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;" id="fdbk">Give
                Your Valuable Feedback</p>
            <button onclick="location.href='#menubox'" id="fdbkbtn">Click Me</button>
        </div>
        <div class="gtch">

            <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;">Get in touch</p>
            <p style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                    class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp vineet.rathor_cs17@gla.ac.in
            </p>
            <p style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                    class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp saurabh.singh_cs17@gla.ac.in
            </p>
            <p style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                    class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp rajeev.ranjan_cs17@gla.ac.in
            </p>
        </div>
    </section>

    <section class="feedback" id="feedback1">
            <div class="container">
                <h1 class="h1h1">Share your problems with us</h1>
                <br>
                <form method="POST" id="feedform">
                    <div class="row">
                        <div class="col-md-4 col-12 offset-2">
                            <div class="styled-input">
                                <input type="text" name="Name" required />
                                <label>Name</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="styled-input">
                                <input type="email" name="email" required />
                                <label>Email</label>
                            </div>
                        </div>
                    </div> 
                        <div class="row">
                        <div class="col-md-7 col-sm-12 offset-3">
                            <div class="styled-input">
                                <input type="text" name="phonenumber" required />
                                <label>Phone Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-9 offset-2">
                            <div class="styled-input">
                                <textarea name="text" id="textmsg" cols="2" rows="2" placeholder="Enter Your Message here"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">    
                        <div class="col-xs-12 col-md-3 offset-5">
                            <button onclick="location.href='#img';disable_feedback();" type="submit"  class="submit-btn">Send message</butto>
                        </div>
                    </div>
                </form>
            </div>
        </section>    
   
    <script>
        function disableScroll() { 
            // Get the current page scroll position 
            scrollTop =  
              window.pageYOffset || document.documentElement.scrollTop; 
            scrollLeft =  
              window.pageXOffset || document.documentElement.scrollLeft, 
  
                // if any scroll is attempted, 
                // set this to the previous value 
                window.onscroll = function() { 
                    window.scrollTo(scrollLeft, scrollTop); 
                }; 
        } 
        function enableScroll() { 
            window.onscroll = function() {}; 
        } 
        function show_feedback()
        {
            document.getElementById("html2").style.scrollBehavior = "unset";
            document.getElementById("feedback1").style.display = "block";
            location.href='#feedform';
            document.getElementById("navbar").style.display = "none";
            disableScroll();
        }
        function disable_feedback()
        {
            document.getElementById("feedback1").style.display = "none";
            document.getElementById("navbar").style.display = "block";
            document.getElementById("html2").style.scrollBehavior = "smooth";
            enableScroll();

        }
        function show_pizza() {
            document.getElementById("pizza").style.display = "block";
            document.getElementById("pizzaid").style = " background-color: red;color: white;font-size: 26px;border-radius: 5px;"
            document.getElementById("paneerid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("icecreamid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("burgerid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("burger").style.display = "none";
            document.getElementById("paneer").style.display = "none";
            document.getElementById("icecream").style.display = "none";
        }
        function show_burger() {
            document.getElementById("pizza").style.display = "none";
            document.getElementById("burger").style.display = "block";
            document.getElementById("paneer").style.display = "none";
            document.getElementById("icecream").style.display = "none";
            document.getElementById("pizzaid").style = " background-color: white;color: black;font-size: 26px;border-radius: 5px;"
            document.getElementById("paneerid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("icecreamid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("burgerid").style = " background-color: red;color: white;font-size: 25px;border-radius: 5px;"

        }
        function show_paneer() {
            document.getElementById("pizza").style.display = "none";
            document.getElementById("burger").style.display = "none";
            document.getElementById("paneer").style.display = "block";
            document.getElementById("icecream").style.display = "none";
            document.getElementById("pizzaid").style = " background-color: white;color: black;font-size: 26px;border-radius: 5px;"
            document.getElementById("paneerid").style = " background-color: red;color: white;font-size: 25px;border-radius: 5px;"
            document.getElementById("icecreamid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("burgerid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"

        }
        function show_icecream() {
            document.getElementById("pizza").style.display = "none";
            document.getElementById("burger").style.display = "none";
            document.getElementById("paneer").style.display = "none";
            document.getElementById("icecream").style.display = "block";
            document.getElementById("pizzaid").style = " background-color: white;color: black;font-size: 26px;border-radius: 5px;"
            document.getElementById("paneerid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("icecreamid").style = " background-color: red;color: white;font-size: 25px;border-radius: 5px;"
            document.getElementById("burgerid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"

        }
        function searc() {
            console.log("0")
            x = document.getElementById("myText12").value;
            if (x.toLowerCase() == "pizza") {
                console.log("1")
                show_pizza()
            }
            else if (x.toLowerCase() == "burger") {
                show_burger()
            }
            else if (x.toLowerCase() == "paneer") {
                show_paneer()
            }
            else if (x.toLowerCase() == "ice cream" || x.toLowerCase() == "icecream") {
                show_icecream()
            }
            else {
                alert("Sorry We don't have this item")
            }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://the-vr7.github.io/Hello-World/css3-animate-it.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>