<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
<style>
    * {
        padding: 0;
        margin: 0;
    }
.FAQS {
    background-image: linear-gradient(white,rgba(102, 22, 231, 0.616));
    width: 100%;
    height: 1000px;
}
.TC {
    width: 100%;
}
hr {
    border: 3px solid black;
}
h1 {
    text-align: center;
    font-family: cursive;
}
</style>

</head>
<body>
    <div class="FAQS" id="section 1">
        <h1>Frequently Asked Questions</h1>
        <hr>
        <h2>What is Food Panda ?</h2>
         <p>Food Panda is a food delivery service that does Home Deliveries to it's customers, from over 200 restaurants / outlets in Pune, Pimpri-Chinchwad and Navi-Mumbai.
              <br>  We are one of INDIA's premier Home Delivery Service.
              <br>  Operational since 1998, we have served over 75,000 people so far.
            </p>   
            <br>
            <h2>Do I have to register as a client on this website before I can order?</h2>
            <p>YES... if you are looking at using the website to place orders.
                 <br>   But, we also accept phone orders. When you have decided what you want to order, you can call us and place the order,
                 <br> or alternately while taking delivery details our staff can register you in our database with minimal details. 
                <br> This helps us easily process your next order.
            </p>
            <br>
            <h2>Can I order from 2 or more restaurants at the same time?</h2>
            <p>Yes, of course!
                 <br>   However each restaurant order will be treated as a different order. 
                <br> So the delivery charges may be applicable for each order.
            </p>
            <br>
            <h2>Why do you charge delivery charges?</h2> 
                       <p>Each restaurant gives us a small percentage of the order amount.
                           <br> But for small orders we cannot afford to deliver within the commission we receive. 
                          <br> Instead of declining such orders, we give you the option of delivering it to you, if you are prepared to pay the delivery charges.
            </p>
            <br>
            <h2>Do you also deliver spoons and plates etc.?</h2>
            <p>
                    Not usually. 
                   <br> But if the order is large and you give us advance notice (more than 2 hours), we could arrange it for you - but, 
                  <br> this is at the sole discretion of Food-Panda, based on prior commitments, etc.
            </p>
    </div>
    <div class="FAQS" id="section-2">
        <h1>Terms & Conditions</h1>
        <hr>
        <h2>Restrictions</h2>
        <h3>You are expressly and emphatically restricted from all of the following:</h3>
        <pre style="font-size: larger;">
             1.   publishing any Website material in any media;
             2.   selling, sublicensing and/or otherwise commercializing any Website material;
             3.   publicly performing and/or showing any Website material;
             4.   using this Website in any way that is, or may be, damaging to this Website;
             5.   using this Website in any way that impacts user access to this Website;
             6.   using this Website contrary to applicable laws and regulations, 
                    or in a way that causes, or may cause, harm to the Website, or to any person or business entity;
             7.   engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website,
                    or while using this Website;
             8.   using this Website to engage in any advertising or marketing;
        </pre>
        <br>
        <h2>Restrictions</h2>
        <pre style="font-size: larger;">
                Other than content you own, which you may have opted to include on this Website, under these Terms, [Sender.Company] 
                and/or its licensors own all rights to the intellectual property and material contained in this Website, 
                and all such rights are reserved.
                 You are granted a limited license only, subject to the restrictions provided in these Terms, 
                 for purposes of viewing the material contained on this Website.
        </pre>
    </div>
    <div class="FAQS" id="section-3">
        <h1>Privacy Policy</h1>
        <hr>
        <h2>Information Collection, Use, and Sharing</h2>
        <pre style="font-size: larger;">
                We are the sole owners of the information collected on this site. 
                We only have access to/collect information that you voluntarily give us via email or other direct contact from you. 
                We will not sell or rent this information to anyone.

                We will use your information to respond to you, regarding the reason you contacted us.
                We will not share your information with any third party outside of our organization, 
                other than as necessary to fulfill your request, e.g. to ship an order.

                Unless you ask us not to, we may contact you via email in the future to tell you about specials,
                new products or services, or changes to this privacy policy
        </pre>
        <h2>Security</h2>
        <pre style="font-size: larger;">
                We take precautions to protect your information. 
                When you submit sensitive information via the website, 
                your information is protected both online and offline.

                Wherever we collect sensitive information (such as credit card data), 
                that information is encrypted and transmitted to us in a secure way. 
                You can verify this by looking for a lock icon in the address bar and looking for "https" 
                at the beginning of the address of the Web page.
                
                While we use encryption to protect sensitive information transmitted online, 
                we also protect your information offline. 
                Only employees who need the information to perform a specific job (for example, billing or customer service) 
                are granted access to personally identifiable information. 
                The computers/servers in which we store personally identifiable information are kept in a secure environment.
        </pre>
    </div>
    <div class="FAQS" id="section-4">
        <h1>Terms of USe</h1>
        <hr>
        <h2>The agreement is useful to The Guardian to set the rules and guidelines for visitors, users and customers:</h2>
        <pre style="font-size: larger;">
            <h2>Registration:</h2>inform users that they must agree to a set of rules when they register on your website or mobile app
            <h2>Disable or terminate accounts:</h2> inform users that their accounts can be disabled or terminated if abuses happen on your website or mobile app,
                                                    e.g. spamming, swearing etc.
            <h2>Owner of content:</h2> notify users that you, the company, is the owner of the content appearing on your website or mobile app 
                                       – except in cases where other users can post content (upload, share, create etc.) 
                                         where the users are the owners of such content
            <h2>Changes to the agreement:</h2>  users should be informed about upcoming changes to the agreement before the changes are applied.
            <h2>DMCA: </h2> The Guardian is also informing owners of copyright content that they can submit a DMCA notice to the 
                            website if they found infringing content in their DMCA clause.                
        </pre>
    </div>
    <div class="FAQS" id="section-5">
        <h1>Refund Policy</h1>
        <hr>
        <h2>What is a Return/Refund Policy</h2>
        <pre style="font-size: larger;">
                A Return and Refund Policy is the agreement where you inform customers about your policies regarding returns and refunds.

                It usually includes the following pieces of information:
                
                How many days they have to return a product
                How will they receive the refund (credit or replacement)
                If you offer refunds for digital products or in-app purchases
                Who pays for shipping to return the product
                And so on
        </pre>
        <h2>Why use a Return/Refund Policy</h2>
        <pre style="font-size: larger;">
                Most e-commerce stores should have a Return or Refund Policy.
                This includes retail stores as well.

                Customers must be informed about their rights to refunds. 
                This “policy” is the page where businesses inform customers about their policy on return and refunds.
                
                The Policy is part of the 3 legal agreements your e-commerce business should have:
                
                The “Return and Refund Policy”. 
                Use this agreement to inform users about your policy on returns and refunds.
                The “Privacy Policy” agreement. 
                This is required by law.Use this agreement to inform users about your privacy practices and what kind of personal data you collect from users.
                If you collect any kind of personal data from your users (e.g. email addresses, first and last names), 
                you’re required by law to have this agreement.
                
                The “Terms and Conditions” agreement.This is optional but recommended. 
                Use this agreement to set the rules and guidelines for users when they register an account with you.
                You could add the Return and Refund Policy in your Terms and Conditions rather than having a separate agreement on returns.
        </pre>
    </div>
</body>
</html>